<%- include('./partials/header.ejs') %> <%- include('./partials/navbar.ejs') %>
<h1>Home Page</h1>
<hr />
<div class="container">
  <div class="row mt-5">
    <p>hello anil pandey</p>
  </div>
</div>

> <%- include('./partials/footer.ejs') %>
